#!/usr/bin/env bash

### Create empty files
mkdir -p {{.chezmoi.homeDir}}/.config/git/
touch {{.chezmoi.homeDir}}/.config/git/gitconfig_work_localhost

mkdir -p {{.chezmoi.homeDir}}/.config/fish/conf.d
touch {{.chezmoi.homeDir}}/.config/fish/conf.d/localhost.fish

mkdir -p {{.chezmoi.homeDir}}/.config/cspell/dicts
touch {{.chezmoi.homeDir}}/.config/cspell/dicts/localhost.txt
