#!/usr/bin/env bash

# Create empty gitconfig_work_additional config file
mkdir -p {{.chezmoi.homeDir}}/.config/git/
touch {{.chezmoi.homeDir}}/.config/git/gitconfig_work_additional

# Create empty fish variable export file
mkdir -p {{.chezmoi.homeDir}}/.config/fish/conf.d
touch {{.chezmoi.homeDir}}/.config/fish/conf.d/exports.fish
