{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "pop") -}}
{{-   template "metadata-gnome40.json.tmpl" -}}
{{- else -}}
{{-   template "metadata-gnome45.json.tmpl" -}}
{{- end -}}
