## General
{{ if eq .chezmoi.osRelease.id "nixos" -}}- You are on NixOS. Use nix-shell -p to temporarily load missing software.{{ end }}
- NEVER use emoji, or unicode that emulates emoji in the source code (e.g. ✓, ✗). DO NOT use em dashes. The only exception is when writing features and tests requiring this, and testing the impact of multibyte characters.
- MUST write tests for all new code, BUT only where it makes sense. E.g. no tests for trivialities, boilerplate, template rendering, etc.
- MUST keep functions focused on a single responsibility
- MUST include docstrings for all public functions, classes, and methods
  - MUST document function parameters, return values, and exceptions raised
  - Keep comments up-to-date with code changes
  - MUST avoid including redundant comments which are tautological or self-demonstrating (e.g. cases where it is easily parsable what the code does at a glance so the comment does)
- Do NOT try to do any writing git operations (staging, commits, ..) unless explicitly told to do so. Don't be surprised if git state changes underneath your actions, I will stage/unstage/commit things while you work as I please.
